<!DOCTYPE html>     
<html>
<head> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>
<body>
    
    {% block content %} {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript"> 
        $(document).ready(function(){    
            $('.collapsible').collapsible();        //call to collapsible function
            $('select').material_select();      //initialize SELECT function in add_task
        });
        
        // CALLENDER -- copy/pasted from source code. (should have come from https://materializecss.com/pickers.html)
        //this code triggers the display of the callender
        $('.datepicker').pickadate({                
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });
    </script>
</body>
</html>

<!-- parent template for all our views. contain references to JS, CSS, 3rd party libraries for the app-->

<!--this acts as a one-stop shop that neatly provides access and visibility to our JavaScript files, our CSS, and our navigation.
The point of the template is that you don't have to repeat yourself.
That is a philosophy within framework development: DRY, don't repeat yourself.
in order to inject the child content, we create an opening and a block tag. 
the block keyword is required, but in this example, we see the word content, or the string content.
-->
<!-- script tag and links copied from links folder in 7-materialize setup folder-->


<!--         COLLAPSIBLE CODE

$(document).ready(function(){
    $('.collapsible').collapsible();
  });
  
  (we'll place this in the base.html in the parent template so that any collapsible elements can access this functionality when they're being rendered.)
-->
  
  
  
  